<div id="errorAlert" style="font-size: 12px;">
    <form class="form" style="padding: 0px;margin: 0px;">
        <div class="row" style="padding: 15px 0px;">
            <h4 class="text text-justify" id="errorContent" style="font-size: 14px;color: #666"></h4>
        </div>
        <footer style="padding-right:0px;margin:0px;font-size: 12px;">
            <button type="button" data-iziModal-close class="btn btn-default" ng-click="cancelAction()"
                    style="font-size: 12px;border-radius: 0px;width: 100%;"><i class="fa fa-check"></i> Ok
            </button>
        </footer>
    </form>
</div>